h2{
    background-color: aqua;
    color:black;
    text-align: center;
}
p{
    background-color: brown;
    text-decoration: dashed;
    color:black;
    text-align: center;
}
body{
    background-color: aliceblue;

}